<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:name=".App"
        android:label="Hak Et"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity android:name=".AnaActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EgzersizActivity" android:exported="false" />

        <activity android:name=".EngelActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity="com.teknolojikkilic.haket.engel" />

        <service android:name=".EngelServisi"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/erisim_servis" />
        </service>
    </application>
</manifest>
